/* BEGIN CHATROOM COMPONENT PAGE STYLES */

/* SIDEBAR STYLES */
.users-sidebar {
  width: 100%;
  height: 600px;
  background-color: #4c4c4c;
  padding: 10%;
  overflow: scroll;
  color: white;
}

/* CHATBOX STYLES */
.chat-container {
  height: 530px;
  border: solid 1px grey;
  width: 100%;
  overflow: scroll;
}

/* MESSAGE INPUT STYLES */
.input-form-box {
  border: solid 1px grey;
  width: 100%;
  background-color: gainsboro;
}

/* END COMPONENT STYLES*/
