/* BEGIN CHATROOM COMPONENT PAGE STYLES */

/* SIDEBAR STYLES */

.users-sidebar {
    width: 100%;
    height: 600px;
    background-color: gainsboro;
    padding: 10%;
    overflow: scroll;
}

/* CHATBOX STYLES */
.chat-container {
    height: 530px;
    border: solid 1px grey;
    width: 100%;
    overflow: scroll;
    /* background: linear-gradient(90deg, rgba(213,1,1,1) 0%, rgba(73,9,121,1) 50%, rgba(0,35,209,1) 100%)!important; */
}

/* MESSAGE INPUT STYLES */

.input-form-box {
    border: solid 1px grey; 
    width: 100%;
    background-color:  gainsboro;
}

/* END COMPONENT STYLES*/






