.chat-container {
    height: 530px;
    border: solid 1px grey;
    width: 100%;
    overflow: scroll;
}

.chatroom-container {
    
}

.input-form-box {
    border: solid 1px grey; 
    width: 100%; 
    background-color:  gainsboro;
}
.input-form {
    height: 50px;
    width: 100%;
    margin: 10px;
}

.submit-button {
    margin-top: 10%;
}

.form-group {
    padding: 10px;
    width: 90%;
}

.users-sidebar {
    width: auto;
    height: 100%;
    background-color: gainsboro;
    padding: 10%;
}

.user-info-button-container {
    height: auto;
}

.form-field {
    width: 100%;
}

.modal {
    height: 200px;
    position: relative;
}

.edit-button {
    margin-top: 10%;
}