
.container {
    height: 500px;
    border: solid 1px grey;
}

.input-form {
    height: 64px;
    border: solid 1px grey;  
}

.form-group {
    padding: 10px;
    width:90%;
}

.sidebar {
    border: 1px grey;
    width: 200px;
    height: auto;
}