.jumbotron {
    background: rgba(196, 196, 196, 0.5);
    height: 249px;
    }

.container {
height: 642px;
border: solid 1px grey;
}

.input-form {
    height: 64px;
    border: solid 1px grey;  
}

.form-group {
    padding: 10px;
    width:90%;
}