.chat-container {
    height: 500px;
    border: solid 1px grey;
    width: 100%;
}

.input-form {
    height: 64px;
    border: solid 1px grey;  
}

.form-group {
    padding: 10px;
    width: 90%;
}

.sidebar {
    width: auto;
    height: 600px;
    background-color: gainsboro;
    padding: 15px;
}

.user-dashboard {
    padding: 1em;
    border: 3px solid purple;
    width: 100%;
    margin: 0 auto 1em auto;
    display: block;
}