.text-container {
  margin-bottom: 20px;
}

.card-home {
  height: 275px;
  margin: 10px;
  width: 350px;
  padding: 10px;
}

.btn-rounded {
  border-radius: 40px;
  max-width: 165px;
  min-width: 100px;
  height: auto;
  margin: 20px;
}

.light-card {
  border: 3px rgba(0, 0, 0, 0.7) solid !important;
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.btn-blue {
  background-color: #321195 !important;
  border-color: #321195 !important;
}
