.input-form {
  height: 50px;
  width: 100%;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-wrapper {
  width: 100%;
}
